@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    font-family: "Inter", sans-serif;
}

.btn-purple {
    color: #fff;
    background-color: #6C5CE7;
    font-weight: 700;
    font-size: 18px;
}

h1 {
    font-weight: 700;
    font-size: 24px;
}

/* nav {
    background-color: #646464;
} */